<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>DTXcode</key>
    <string>0832</string>
    <key>DTSDKName</key>
    <string>appletvos10.2</string>
    <key>CFBundleName</key>
    <string>Air Video HD</string>
    <key>TVTopShelfImage</key>
    <dict>
      <key>TVTopShelfPrimaryImageWide</key>
      <string>Top Shelf Image Wide</string>
      <key>TVTopShelfPrimaryImage</key>
      <string>Top Shelf Image</string>
    </dict>
    <key>CFBundleIcons~ipad</key>
    <dict/>
    <key>DTSDKBuild</key>
    <string>14W260</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleVersion</key>
    <string>102.0001</string>
    <key>UIUserInterfaceStyle</key>
    <string>Automatic</string>
    <key>BuildMachineOSBuild</key>
    <string>16G8c</string>
    <key>DTPlatformName</key>
    <string>appletvos</string>
    <key>CFBundleShortVersionString</key>
    <string>1.2</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>AppleTVOS</string>
    </array>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>CFBundleExecutable</key>
    <string>AirVideoTV</string>
    <key>UILaunchImages</key>
    <array>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{1920, 1080}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>9.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Landscape</string>
      </dict>
    </array>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>CFBundleIdentifier</key>
    <string>com.inmethod.AirVideoTV</string>
    <key>MinimumOSVersion</key>
    <string>10.0</string>
    <key>DTXcodeBuild</key>
    <string>8E2002</string>
    <key>DTPlatformVersion</key>
    <string>10.2</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <string>App Icon - Small</string>
    </dict>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>UIDeviceFamily</key>
    <array>
      <integer>3</integer>
    </array>
    <key>DTPlatformBuild</key>
    <string>14W260</string>
    <key>UISupportedDevices</key>
    <array>
      <string>AppleTV5,3</string>
    </array>
  </dict>
</plist>
